---
import { Icon } from 'astro-icon/components';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  socialLinks: Array<Link>;
  infoData: Array<Link>;
}

const { socialLinks=[], infoData=[] } = Astro.props;

---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <div class="md:flex md:items-center md:justify-between">
    {
      socialLinks?.length ? (
        <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
          {socialLinks.map(({ ariaLabel, href, text, icon }) => (
            <li>
              <a
                class="text-muted dark:text-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1 inline-flex items-center"
                aria-label={ariaLabel}
                href={href}
              >
                {icon && <Icon name={icon} class="w-5 h-5" />}
                <Fragment set:html={text} />
              </a>
            </li>
          ))}
        </ul>
      ) : (
        ''
      )
    }

    <div class="text-sm mr-4 dark:text-slate-400">
      {
        infoData?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {infoData.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="gap-1 text-muted dark:text-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
    </div>
  </div>  
</div>
